<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="content">
        <div class="block">
            <h1 id="pagetitle">{{ page.title }}</h1>
            {{ content }}
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>
